<div class="wrapper">
    <div class="header">
        <div class="player" *ngFor="let player of players">
            {{player}}
        </div>
    </div>
    <div class="body">
        <div class="left">
            <span class="name">Колода</span>
            <div class="btnl btn">Сокровища</div>
            <div class="btnl btn">Двери</div>
        </div>
        <div class="center">
            <div class="info">
                инфа
            </div>
            <div class="cards">
                играемые карты
            </div>
        </div>
        <div class="right">
            <span class="name">Сброс</span>
            <div class="btnr btn">Сокровища</div>
            <div class="btnr btn">Двери</div>
        </div>
    </div>
    <div class="footer">
        <div class="fcenter">
            <div class="info">
                <span>lvl: 1</span>
                <span>Сила: 2</span>
                <span>Пол: man</span>
                <span>Раса: орк</span>
                <span>Класс: вор</span>
            </div>
            <div class="cards">
                <div class="cont">
                    <div class="card" *ngFor="let card of your_cards">
                        {{card}}
                    </div>
                </div>
            </div>
            <div class="actions">
                <!-- <span>Доп. действия</span> -->
                <div class="act" *ngFor="let act of actions">
                    {{act}}
                </div>
            </div>
        </div>
    </div>
</div>
