<div class="wrapper" *ngIf="fetch_data">
    <div class="header">
        <div class="player" 
        *ngFor="let player of players">
        <span>{{player.nickname}}</span>
        <span>lvl: {{player.lvl}}</span>
        <span>сила: {{player.strongest}}</span>
            <!-- {{player}} -->
        </div>
    </div>


    <div class="body">
        <div class="left">
            <span class="name">Колода</span>
            <div class="btnl btn">Сокровища</div>
            <div class="btnl btn">Двери</div>
        </div>

        <div class="center">
            <div class="info">
                инфа
            </div>
            <div class="cards">
                играемые карты
            </div>
            <div class="log">
                <h2>Лог</h2>
                <ul>
                    <li *ngFor="let item of fetch_data.log">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="right">
            <span class="name">Сброс</span>
            <div class="btnr btn">Сокровища</div>
            <div class="btnr btn">Двери</div>
        </div>
    </div>


    <div class="footer">
        <div class="fcenter">
            <div class="info">
                <span>lvl: {{current_player?.lvl}}</span>
                <span>Сила: {{current_player?.strongest}}</span>
                <span>Пол: {{current_player?.sex ? "Man" : "Woman"}}</span>
                <span>Раса: орк</span>
                <span>Класс: вор</span>
            </div>

            <div class="cards">
                <div class="cont">
                    <div class="card" *ngFor="let card of your_cards">
                        <div class="treasure item" *ngIf="card.type == 'treasure'">
                            {{card.name}}
                            {{card.strong}}
                            {{card.template}}
                            {{card.test}}
                        </div>
                        <div class="monsters item"  *ngIf="card.type == 'monsters'">
                            {{card.name}}
                            {{card.lvl}}
                            {{card.punishment}}
                            {{card.gold}}
                            {{card.undead}}
                        </div>
                        <div class="curses item"  *ngIf="card.type == 'curses'">
                            {{card.name}}
                            {{card.action}}
                            {{card.strongest}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions">
                <!-- <span>Доп. действия</span> -->
                <div class="act" *ngFor="let act of actions">
                    {{act}}
                </div>
            </div>
        </div>
    </div>
</div>
