<div class="wrapper">
    <div class="header">

        <div class="head-title">
            <h1><span>Комната: {{lobby_name}}</span></h1>
            <!-- <h1><span>{{title.server}}</span></h1> -->

        </div>
        <div class="head-coloda">
            <div class="dropmenu">
                <span>Выбор колоды</span>
                <div class="item">
                    <p>Колода 1</p>
                    <p>Колода 1</p>
                    <p>Колода 1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <!-- <div class="back-blur" style="width: 500px; height: 200px; border: 2px red solid;"></div> -->
        <div class="player" *ngFor="let player of getPlayers(); let i = index"> 
            <div class="blur"></div>
            <div class="cont" *ngIf="player == nickname">
                <!-- *ngFor="let pl in player" -->
                
                <!-- <app-player-card style="z-index: 1; position: relative;"></app-player-card> -->
                <div class="name">{{player}}</div>
                <div class="btn_ready" style="z-index: 1;">
                    <button class="btn button3" style="border: none !important;" (click)="playerReady()"
                    [class.bl9red]="!pl_ready" [class.bl9green]="pl_ready" 
                    >{{pl_ready ? 'Готов' : 'Не готов'}}</button>
                </div>
                <div class="btn_gender">
                    <button class="btn2 button4" [class.strong]="gender" style="background-color: burlywood;" (click)="genderChange(true)">Man</button>
                    <button class="btn2 button4" [class.strong]="!gender" style="background-color: pink;" (click)="genderChange(false)">Woman</button>
                </div>
            </div>
            <div class="cont" *ngIf="player == 'Пусто'">
                <!-- *ngFor="let pl in player" -->
                <span class="name">Пусто</span>
            </div>
            <div class="cont" *ngIf="player != 'Пусто' && player != nickname">
                <!-- *ngFor="let pl in player" -->
                <div class="name">{{player}}</div>
                <div class="name">{{lobby_data.ready_players.includes(player) ? "Готов" : "Неготов"}}</div>
                <div class="name">{{!lobby_data.woman_players.includes(player) ? "Мэн" : "Вумэн"}}</div>
            </div>
        </div>
        <!-- <div class="lob-container">
            
            <app-player-card></app-player-card>
            <div class="btn_ready">
                <button class="btn" type="button">{{pl_reay ? 'Готов' : 'Не готов'}}</button>
            </div>
            <div class="btn_gender">
                <button class="btn2" style="background-color: burlywood;">Man</button>
                <button class="btn2" style="background-color: pink;">Woman</button>
            </div>
        </div>
        <div class="lob-container">
            
            <app-player-card></app-player-card>
            <div class="btn_ready">
                <button class="btn" type="button">{{pl_reay ? 'Готов' : 'Не готов'}}</button>
            </div>
            <div class="btn_gender">
                    <button class="btn2" style="background-color: burlywood;">Man</button>
                    <button class="btn2" style="background-color: pink;">Woman</button>
            </div>
        </div> -->
    </div>
    <div class="footer">
        <button class="btn button3" style="background-color: brown;" (click)="exitRoom()">Exit</button>
    </div>
</div>
