.wrapper{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 150px;
    display: flex;
    flex-direction: row;
}
.head-title{
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    
}
.head-coloda{
    margin-top: 20px;
    position: absolute;
    right: 0;
    margin-right: 100px;
}
.body{
    display: flex;

    flex-direction: row;
    justify-content: center;
}
.footer{
    min-height: 50px;  
}
.lob-container{
    display: block;
    text-align: center;
    margin: 10px;
}
.btn{
    width: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    background-color: red;
}
.btn_gender{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btn2{
    font-size: 15px;
    // padding: none;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 90px;
}

.dropmenu{
    
    // width: 50px;
    // height: 30px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.item{
    display: none;
    position: absolute;
    // background-color: #f9f9f9;
    // min-width: 125px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropmenu:hover .item {
display: block;
}

.bl9red{
    background-color: red;
}
.bl9green{
    background-color: green;
    // пиздец весело
}