.card {
    height: 190px;
    width: 140px;
    border-radius: 10px;
    font-size: 13px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.treasure {
    background-color: gold;
}
.name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.footer {
    font-size: 12px;
}