@if (treasure) {
<div [class.backdrop]="podrobnee" (click)="closeBackdrop($event)">
    <div class="card treasure" [class.bigcard]="podrobnee" (click)="podrobnee = true">
        <div class="header">
            <div class="name">
                {{tCard.abstractData.name}}
            </div>
            @if (podrobnee) {
            <div class="desc center mt">
                {{tCard.abstractData.description}}
            </div>
            }
        </div>
        <div class="footer">
            @if (tCard.data.big) {
            <span>
                Большая
            </span>
            }
            @if (tCard.data.cost) {
            <span>
                {{tCard.data.cost + " голды"}}
            </span>
            }
            <span>
                {{tCard.data.template}}
            </span>
        </div>
    </div>
</div>
}
@else {
    <div [class.backdrop]="podrobnee" (click)="closeBackdrop($event)">
        <div class="card treasure" [class.bigcard]="podrobnee" (click)="podrobnee = true">
            <div class="header">
                <div class="name">
                    {{dCard.abstractData.name}}
                </div>
                @if (podrobnee) {
                <div class="desc center mt">
                    {{dCard.abstractData.description}}
                </div>
                }
            </div>
            <div class="footer">
                
            </div>
        </div>
    </div>
}