.card {
    height: 190px;
    width: 140px;
    border-radius: 10px;
    font-size: 13px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.footer {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bigcard {
    padding: 10px;
    height: 90vh;
    max-width: 95vw;
    width: calc(90vh / 1.45);
    cursor: auto !important;
    font-size: 18px;
    .name {
        font-size: calc(24px + 16 * (100vh / 1280));
    }
    .footer {
        font-size: calc(16px + 16 * (100vh / 1280));
    }
}

.treasure {
    background-color: gold;
}
.mt {
    margin-top: 10px;
}