.nickname {
    color: white;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}
.wrapper {
    .header {
        flex: 0 0 60px;
        display: flex;
        padding: 10px 20px;
        align-items: center;
        button {
            margin: 0 10px 0 0;
        }
    }
    .main {
        flex: 1 1 auto;

    }
}
h3 {
    color: white;
    font-size: 32px;
}