@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background: url(https://sitist.ru/userfiles/image/info/for-all/pattern-1.jpg) no-repeat bottom center / cover;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  padding: 2em 3em;
  font-size: 7vw;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #3D3859;
  background: #fff5;
  backdrop-filter: blur(5px);
}