@import "../../../styles/vars.scss";

.player {
    border-radius: 10px;
    background-color: #dfc0a4;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 90px;
    cursor: pointer;

    span {
        text-align: center;
    }
}

.podrobnee {
    display: flex;
    flex-direction: column;
    background-color: #dfc0a4;
    border-radius: 10px;
    padding: 10px;
    cursor: default;
    border: 5px solid $cardBorder;
    max-width: 95%;
    max-height: 95%;
    overflow: auto;
    app-card,
    .stats {
        margin: 10px 15px;
    }

    .stats {
        width: 140px;
        height: 190px;
        cursor: default;
        font-size: 20px;
        line-height: 32px;
    }
}

.pozadi {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 !important;
    bottom: 25px;
}
.m15 {
    margin: 0 15px;
    span {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        // font-weight: bold;
    }
    app-card {
        margin: 0;
    }
}
.treasures {
    .r {
        display: flex;
        flex-direction: column;
    }
    app-card {
        margin-bottom: 5px;
    }
}