@if (data) {
    <div class="player" (click)="podrobnee = true">
        <span>{{data.name}}</span>
        <span>lvl: {{data.lvl}}</span>
        <span>{{data.sex}}</span>
        <span>Очередь: {{data.queue}}</span>
    </div>
    @if (podrobnee) {
        <div class="backdrop" (click)="closeBackdrop($event)">
            <div class="podrobnee">
                <div class="flex">
                    <div class="flex r">
                        <app-card [data]="data.d_field.rasses[0]" class="z2"></app-card>
                        <app-card [data]="data.d_field.rasses[1]" class="z2"></app-card>
                        <app-card [data]="data.d_field.rasses[2]" class="pozadi"></app-card>
                    </div>
                    <div class="stats player">
                        <span>{{data.name}}</span>
                        <span>lvl: {{data.lvl}}</span>
                        <span>Сила: {{data.power}}</span>
                        <span>{{data.sex}}</span>
                        <span>Очередь: {{data.queue}}</span>
                    </div>
                    <div class="flex r">
                        <app-card [data]="data.d_field.classes[0]" class="z2"></app-card>
                        <app-card [data]="data.d_field.classes[1]" class="z2"></app-card>
                        <app-card [data]="data.d_field.rasses[2]" class="pozadi"></app-card>
                    </div>
                </div>
                <div class="flex treasures">
                    <div class="r m15">
                        <span>Шлем</span>
                        @for (item of data.t_field.helmet; track $index) {
                            <app-card [data]="item" [treasure]="true"></app-card>
                        }
                        @empty {<app-card [treasure]="true"></app-card>}
                    </div>
                    <div class="r m15">
                        <span>Броня</span>
                        @for (item of data.t_field.body; track $index) {
                            <app-card [data]="item" [treasure]="true"></app-card>
                        }
                        @empty {<app-card [treasure]="true"></app-card>}
                    </div>
                    <div class="r m15">
                        <span>Обувь</span>
                        @for (item of data.t_field.legs; track $index) {
                            <app-card [data]="item" [treasure]="true"></app-card>
                        }
                        @empty {<app-card [treasure]="true"></app-card>}
                    </div>
                    <div class="r m15">
                        <span>Руки</span>
                        @for (item of data.t_field.arm; track $index) {
                            <app-card [data]="item" [treasure]="true"></app-card>
                        }
                        @empty {<app-card [treasure]="true"></app-card>}
                    </div>
                    <div class="r m15">
                        <span>Рядом</span>
                        @for (item of data.t_field.other; track $index) {
                            <app-card [data]="item" [treasure]="true"></app-card>
                        }
                        @empty {
                            <app-card [treasure]="true"></app-card>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}