*{
    margin: 0;
    border: 0;
}
.container{
    min-width: 80px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;

}
.card{
    padding: 10px;
    border-radius: 20px;
    // border: 2px dashed Gold;
    // border: 30px solid transparent;
    border: 50px solid transparent;
    border-image: url('../../../assets/image/5a1d4356928104.3161662615118672226001.png') 16.66666667% / 1 / 0 stretch;
//   border-image: url('/examples/images/border.png') 16.66666667% / 1 / 0 stretch; хочу норм рамочку сделать потом
}
.pl-logo{
    height: 100px;
    
}
img{
        justify-content: center;
    }
.pl-title{
    padding: 5px;
}
.pt-description{
    display: flex;
    justify-content: center; 
}
span{
    color: white;
}