/* You can add global styles to this file, and also import other style files */
@import "./app/styles/sbros.scss";
@import "./app/styles/vars.scss";
// The "warn" palette is optional and defaults to red if not specified.
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url("./assets/background/tavern1.jpg") no-repeat;
    background-size: cover;
}
* {font: Roboto, sans-serif;}
* {box-sizing: border-box;}
.wrapper {
    // background-color: $bgc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.backdrop {
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.full {
    width: 100%;
    height: 100%;
}

/////////////
.wrapper {
    .header {
        height: 60px;
        flex: 0 0 60px;
        display: flex;
        padding: 10px 20px;
        align-items: center;
        button {
            margin: 0 10px 0 0;
        }
    }
    .main {
        height: 0;
        flex: 1 1 auto;
        margin: 0 0 20px;
    }
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.mat-button-toggle {
    width: 100%;
}
.overflow {
    overflow: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}