/* You can add global styles to this file, and also import other style files */
@import "./app/styles/sbros.scss";
@import "./app/styles/vars.scss";
// The "warn" palette is optional and defaults to red if not specified.
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {box-sizing: border-box;}
.wrapper {
    background-color: $bgc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.backdrop {
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
}